manage/odd/codem.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0"
     xmlns:mhs="http://www.mhs.org/PUT/BETTER/NAMESPACE/HERE"
     xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
	<title type="short">CODEM</title>
	<title>Cooperative for Digital Editions at the
	Masschusetts Historical Society</title>
      </titleStmt>
      <publicationStmt>
	<publisher>MHS</publisher>
	<availability>
	  <licence>Available under the terms of the <ref
	  target="http://creativecommons.org/licenses/by-sa/4.0/">Creative
	  Commons Attribution-ShareAlike 4.0 International
	  license</ref>.</licence>
	</availability>
      </publicationStmt>
      <sourceDesc>
	<p>Born digital.</p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change who="#sbauman.emt" when="2018-10-02">
	Add new <gi>persRef</gi>.
      </change>
      <change who="#sbauman.emt" when="2018-09-14">
	<list>
	  <item>Minor tweaks to metadata, etc</item>
	  <item>Deleted lots of pointless stuff</item>
	  <item>Added <val>month</val> to <att>type</att> of
	  <gi>div</gi> (dunno why it wasn't already there)</item>
	  <item>Added MHS placeholder namespace</item>
	  <item>Added <att>mhs:startingOnPage</att> and
	  <att>mhs:volume</att> of <gi>div</gi></item>
	</list>
      </change>
      <change who="#sbauman.emt" when="2018-09-13">Created with <name
      type="pgm">oddbyexample</name> using the current release version
      of P5 and the 5 example files in
      codem/manage/samplexml/jqa/*.xml</change>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <head>Cooperative for Digital Editions at the
	Masschusetts Historical Society Encoding Language</head>
	<p>We use a highly constrained TEI customization with a few
	extensions.</p>
	<specGrp xml:id="personReferenceElement">
	  <elementSpec ident="persRef" mode="add" ns="http://www.mhs.org/PUT/BETTER/NAMESPACE/HERE">
	    <equiv filter="./codem2tei.xslt"/>
	    <gloss>person reference</gloss>
	    <desc>contains a reference (typically a non-name reference) to a person or person group</desc>
	    <classes>
	      <memberOf key="att.global"/>
	      <memberOf key="att.naming"/>
	      <memberOf key="model.nameLike"/>
	      <memberOf key="att.typed"/>
	    </classes>
	    <content>
	      <macroRef key="macro.phraseSeq"/>
	    </content>
	    <!-- Waiting for examples -->
	  </elementSpec>
	</specGrp>
    </body>
    <back>
      <schemaSpec ident="codem" start="TEI teiCorpus div">
	<desc>Scehema intended to support at least jqa/ &amp;
	correspondence/</desc>
	<moduleRef key="tei"/>

	<!-- core module -->
	<moduleRef key="core" include="label ptr ref note add unclear lb pb p hi date list item head pb cb name author editor bibl title"/>
	<elementSpec ident="date" mode="change">
	  <attList>
	    <attDef ident="type" mode="change">
	      <valList mode="add" type="closed">
		<valItem ident="creation"/>
		<valItem ident="transcription"/>
	      </valList>
	    </attDef>
	  </attList>
	</elementSpec>
	<elementSpec ident="list" mode="change">
	  <attList>
	    <attDef ident="type" mode="delete"/>
	    <attDef ident="type" mode="delete"/>
	  </attList>
	</elementSpec>
	<elementSpec ident="head" mode="change">
	  <attList>
	    <attDef ident="type" mode="delete"/>
	  </attList>
	</elementSpec>
	<elementSpec ident="pb" mode="change">
	  <attList>
	    <attDef ident="type" mode="change">
	      <valList mode="add" type="closed">
		<valItem ident="ms"/>
	      </valList>
	    </attDef>
	  </attList>
	</elementSpec>
	<elementSpec ident="cb" mode="change">
	  <attList>
	    <attDef ident="type" mode="delete"/>
	  </attList>
	</elementSpec>
	<elementSpec ident="author" mode="change">
	  <attList>
	    <attDef ident="role" mode="delete"/>
	  </attList>
	</elementSpec>
	<elementSpec ident="bibl" mode="change">
	  <attList>
	    <attDef ident="type" mode="delete"/>
	  </attList>
	</elementSpec>
	<!-- header module -->
	<moduleRef key="header" include="appInfo application teiHeader fileDesc titleStmt publicationStmt respStmt availability sourceDesc revisionDesc change editionStmt edition encodingDesc"/>
	<!-- namesdates module -->
	<specGrpRef target="#personReferenceElement"/>
	<!-- verse module -->
	<!-- transcr module -->
	<moduleRef key="transcr" include="supplied"/>
	<!-- linking module -->
	<!-- analysis module -->
	<!-- textstructure module -->
	<moduleRef key="textstructure" include="TEI text front body back div salute signed dateline opener closer"/>
	<elementSpec ident="TEI" mode="change">
	  <attList>
	    <attDef ident="version" mode="delete"/>
	    <attDef ident="type" mode="change">
	      <valList mode="add" type="closed">
		<valItem ident="month"/>
	      </valList>
	    </attDef>
	  </attList>
	</elementSpec>
	<elementSpec ident="div" mode="change">
	  <attList>
	    <attDef ident="type" mode="change">
	      <valList mode="add" type="closed">
		<valItem ident="doc"/>
		<valItem ident="docbody"/>
		<valItem ident="docback"/>
		<valItem ident="insertion"/>
		<valItem ident="entry"/>
		<valItem ident="month"/>
	      </valList>
	    </attDef>
	    <attDef ident="startingOnPage" mode="add" ns="http://www.mhs.org/PUT/BETTER/NAMESPACE/HERE">
	      <datatype><dataRef key="teidata.count"/></datatype>
	    </attDef>
	    <attDef ident="volume" mode="add" ns="http://www.mhs.org/PUT/BETTER/NAMESPACE/HERE">
	      <datatype><dataRef key="teidata.count"/></datatype>
	    </attDef>
	  </attList>
	</elementSpec>
	<!-- figures module -->
	<moduleRef key="figures" include="table row cell"/>
	<elementSpec ident="table" mode="change">
	  <attList>
	    <attDef ident="rows" mode="delete"/>
	    <attDef ident="type" mode="delete"/>
	  </attList>
	</elementSpec>
	<elementSpec ident="row" mode="change">
	  <attList>
	    <attDef ident="rows" mode="delete"/>
	  </attList>
	</elementSpec>
	<elementSpec ident="cell" mode="change">
	  <attList>
	    <attDef ident="cols" mode="delete"/>
	  </attList>
	</elementSpec>
      </schemaSpec>
    </back>
  </text>
</TEI>
